@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

section h2 {
    position: relative;
    font-size: 12em;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    z-index: 2;
    transition: 2s;
}

section h2:hover {
    filter: blur(10px);
    transform: scale(1.2);
}

section img {
    position: absolute;
    top: -20%;
    left: -20%;
    width: 140%;
    height: 140%;
    pointer-events: none;
    filter: blur(10px);
    transition: 2s;
}

section h2:hover ~ img {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;  
    filter: blur(0px);
}